{% block title %}{{ profile_user.nickname }} | Book {% endblock title %} 

{% block content %}
<main class="site-body">
  <div class="profile-header">
    <div class="content max-content-width">
      <div
        class="cp-avatar large profile-pic"
      ></div>
      <div class="info">
        <h1 class="username">{{ profile_user.nickname}}</h1>
    
        {% if profile_user == user %}
          <a href="{% url 'profile-update'%}">
            프로필 수정
          </a>
          &#183;
          <a class="edit" href="{% url 'account_change_password' %}">
            비밀번호 변경
          </a>
        {% endif %}
        
        {% if profile_user.intro %}
          <div>
            <p class="cp-chip intro">{{ profile_user.intro}}</p>
          </div>
        {% endif %}

       
      </div>
    </div>
  </div>

  
  </div>
</main>
{% endblock content %}
